/*****************************************************************************/
/* PastParties: Style */
/*****************************************************************************/

.past-parties{
  text-align:left
}

.past-party{
  list-style: none;
}

.past-content{
  float:right;
}
