<template name="Partiuform1">
  {{#unless currentParty }}
    <div class="section card transparent mast ques" dir="ltr" style="margin-top: 62px;">
        <div class="header">
            <div class="site-title">
                <a id='partyStart' class='btn blue party-action'>partir</a>
                #partiu<input id="party-title" type="text">
            </div>
        </div>
    </div>

      <div class="section questions card">
          <div class="ques">
              <div class="question">
                  <input class="typeahead" type="text">
                  <span class="typehead-title" >Escolha seus amigos:</span>
              </div>

              <div class="answer">
<!--                   <p id="user_selector">
                      <a class="btn sm blue link user_group" href="#">friends from Facebook Hackathon</a>
                      <a class="btn sm blue link user_group" href="#">select bla blablabla</a>
                      <a class="btn sm blue link user_group" href="#">huaheuh3u3hu3</a>
                  </p> -->
                  <div id="users">
                  {{#each $.Session.get 'friends'}}

                      <div class="user {{visible}} {{selectedClass selected}}" data-id="{{ id }}">
                          <input type="hidden" name="user_id" value="{{ id }}" id="{{ id }}"/>
                          <div class="box" style="background:url({{ largeImage id }});">
                              <div class="overlay"><span class="plus">+</span></div>
                          </div>
                          <div class="user_name">{{name}}</div>
                      </div>
                  {{/each}}
                  </div>
              </div>
          </div>
      </div>
    <div class='party-actions'>
      <a id='partyStart' class='btn blue'>Start</a>
    </div>
  {{else}}
    <div class="section card transparent mast ques" dir="ltr" style="margin-top: 62px;">
      Tenho Party
    </div>
    <a id='partyStop' class='btn'>Stop</a> 
  {{/unless}}
</template>
