/*****************************************************************************/
/* Partiuform1: Style */
/*****************************************************************************/

.friend-image{
  width: 50px;
}

.friends-selector{
  display: inline-block;
}

.party-actions{
  float:right;
}

.hidden-checkbox{
  display:none;
}
