<template name="Partiuform2">
  <p>
    {{ currentParty.title }}
  </p>
  <p>
    {{ currentParty.friends }}
  </p>

  {{#each groupButtons}}
    {{ eid }}
  {{/each}}

  {{#if currentParty}}
    <a id='step2Submit' class='btn btn-primary'>With Friends</a>
  {{/if}}
  {{#each $.Session.get 'friends'}}
    <div class='friends-selector'>
      <input type="checkbox" name="friend" value="{{ id }}" id="{{ id }}"/>

      <label for='{{ id }}'>
        <img src='{{ largeImage id }}' class="friend_image"/>
        {{name}}
      </label>
    </div>
  {{/each}} 
</template>
