<template name="Party">
  <div class="section card transparent mast ques" dir="ltr">
    <div class="header">
      <div class="site-title">
          #partiu<input id="party-title" type="text" disabled value="{{title}}">
          {{#unless $eq status 'finished'}}
            {{#if $eq ownerId $.Meteor.userId}}
              <a id='partyStop' class='btn blue'>Stop</a>
            {{/if}}
          {{/unless}}
      </div>
      <div>
          com:
          {{#each friendsJson }}
            <img src='{{ smallImage id}}'/>
          {{/each}}
      </div>
    </div>
    <div class="section questions card">
      <div class="ques">
          <div class="question">
              #partiu{{title}} Facebook album:
              <a href="https://facebook.com/{{albumId}}" target="_blank">link</a>
          </div>
          <div class="">
              <ul class="polaroids">
              {{#each posts}}
                {{#if $eq post.type 'photo'}}
                  {{> PhotoPost}}
                {{/if}}
              {{/each}}
              </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<template name="TextPost">
  {{post.from.name}}: {{$or post.story post.message}}
</template>

<template name="PhotoPost">
  <li>
    <a href="{{post.link}}" title="{{post.message}}" target="_blank">
      <img alt="{{post.message}}" src="{{post.picture}}">
    </a>
  </li>
</template>

<template name="VideoPost">
  {{post.from.name}}: {{post.message}}
  {{post.description}}
  <img src="{{post.picture}}" alt="" />
</template>

<template name="LinkPost">
  {{post.from.name}}: {{$or post.story post.message}}
  {{post.description}}
</template>
