<template name="Party">
  <div class="section card2 transparent mast ques" dir="ltr">
    <div class="header">
      <div class="site-title row">
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">#partiu<input id="party-title" type="text" disabled value="{{title}}"></div>
          {{#unless $eq status 'finished'}}
            {{#if $eq ownerId $.Meteor.userId}}
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <a id='partyStop' class='btn blue'>Parar</a>
              </div>
            {{/if}}
          {{/unless}}
      </div>
      <div class="row">
        <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center" style="padding-left: 50px;">
          <ul class="list-inline">
            {{#each friendsJson }}
              <li><img src="{{ smallImage id}}" class="img-responsive"/></li>
            {{/each}}
           </ul>            
        </div>
      </div>
    </div>
    <div class="section questions card">
      <div class="ques">
          <div class="question">
              #partiu{{title}} Facebook album:
              <a href="https://facebook.com/{{albumId}}" target="_blank">link</a>
          </div>
          <div class="">
              <ul class="polaroids">
              {{#each posts}}
                {{#if $eq post.type 'photo'}}
                  {{> PhotoPost}}
                {{/if}}
              {{/each}}
              </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<template name="TextPost">
  {{post.from.name}}: {{$or post.story post.message}}
</template>

<template name="PhotoPost">
  <li>
    <a href="{{post.link}}" title="{{post.message}}" target="_blank">
      <img alt="{{post.message}}" src="{{post.picture}}">
    </a>
  </li>
</template>

<template name="VideoPost">
  {{post.from.name}}: {{post.message}}
  {{post.description}}
  <img src="{{post.picture}}" alt="" />
</template>

<template name="LinkPost">
  {{post.from.name}}: {{$or post.story post.message}}
  {{post.description}}
</template>
